@{ 
    ViewBag.Title = "Upload Image page";
}
@model CAD_webapp.Models.UploadedImage

@using (Html.BeginForm("Upload", "UploadImage", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    <div class="jumbotron">
        <h3>Image Manipulator</h3>
        <div>
            <input name="uploadedFile" class="form-control" type="file" style="max-width: 800px; width: 500px;" />
        </div>
        <button class="btn btn-primary" type="submit">Upload File</button>
        <div class="well well-sm">
            <img src="@Model.Url" style="max-width:1000px; width:1200px;" />
        </div>
    </div>
}