@model List<CAD_webapp.Models.ImageEntity>
@{
    ViewBag.Title = "ShowAllImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Images:</h2>



<div class="jumbotron">
    <div class="row">

    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail" data-toggle="modal" data-target="#@item.RowKey">
                <img src="@item.Mini_img" class="img-responsive" />
            </a>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="@item.RowKey">
            <div class="modal-dialog">
                <img src="@item.Full_img" class="img-responsive" />
            </div>
        </div>
    }
</div>
</div>
